.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input-container h3 {
    margin-top: 0em;
    font-weight: lighter;
}

.form-input-container input[type='text'] {
    max-width: 400px;
    height: 30px;
    border: none;
    /* border-radius: 10px; */
    padding: 5px;
    font-weight: bold;
    font-size: 1em;
}

.form-input-container input[type='button'] {
    min-width: 60px;
    height: 40px;
    border: none;
    /* border-radius: 10px; */
    padding: 5px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.addedLabel {
    border: 2px solid white;
    min-width: 200px;
    margin: 0.1em 0;
}

.createFormContainer {
    border: 1px solid white;
    padding: 2em;
}

.addedLabelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-createform {
    margin: 1em 0;
}